.steps-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . .";
    width: 100%;
    height: 120%;
    padding-left: 6em;
    padding-bottom: 4em;
  }
  
  .grid-item {
    margin-top: 5em;
    width: 500px;
    background-color: #f2f2f2;
    transition: border-radius 0.3s ease-in-out;
  }
  

  .grid-area-1 {
    grid-area: 1 / 1 / span 1 / span 1;
  }
  
  .grid-area-2 {
    grid-area: 2 / 3 / span 1 / span 1;
  }
  
  .grid-area-3 {
    grid-area: 3 / 1 / span 1 / span 1;
  }
  
  .grid-area-4 {
    grid-area: 4 / 3 / span 1 / span 1;
  }

  .grid-area-5 {
    grid-area: 5 / 1 / span 1 / span 1;
  }

  svg {
    position: absolute;
    width: 100%;
    left:5em;
    top:76em;
    z-index: -1;
  }

  .steps-svg path {
    stroke: rgba(46, 33, 190, 0.2);    
    stroke-width: .3em;
    fill: none;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.1s ease-out;
  }
